@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Kaushan+Script&display=swap');

#content {
    max-width: 100%;
    margin: 0 auto; }

.main-grid {
    display: grid;
    grid-template-columns: ;}


.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: title; }
.item4 { grid-area: activities; }
.item5 { grid-area: info; }
.item6 { grid-area: footer; }


header {
    background-color: #ef7bd6;
    width: 900px;
    padding: 50px;
    margin: 20px;
  }

body {
    max-width: 960px;
    margin: 0 auto;
    padding: 4em;
    text-align: center;
  }

footer {
    background-color: #ef7bd6;
    padding: 0.5;
    text-align: center;
    width: 900px;  
    color: #ffffff;
    justify-content: space-around;    
    align-items: center; 
  }

footer p {    
    font-size: 1.2em;
    color: #ffffff;
}

h3 {
    font-size: medium;
    text-align: center;
    color: #feecf3;   
  }

h2 {
    font-size:large; 
    text-align: center;
    color: #feecf3;  
  }

h1 {
    font-size: larger;
    text-align: center; 
    color: #feecf3;  
  }

nav {
    background-color: rgb(255, 255, 255);
    width: 850px;
    border: 3px solid rgb(0, 0, 0);
    padding: 50px;
    margin: 20px;
  }

nav a { 
    text-decoration: none;
    text-align: center; 
    color: #ffffff;
    padding: 35px;
}

.card {
    background-color: rgb(255, 255, 255);
    width: 850px;
    border: 3px solid rgb(0, 0, 0);
    padding: 50px;
    margin: 20px;
  }

